<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tint Color</key>
	<string>#5ea1ff</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the BeatHF Research Study.</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completition Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completition Step Text</key>
	<string>Thank you for joining this study.</string>
	<key>Failed Login Title</key>
	<string>Unable to Login 😔</string>
	<key>Failed Login Text</key>
	<string>Please try again in five minutes.</string>
	<key>Health Permissions Title</key>
	<string>Health Data</string>
	<key>Health Permissions Text</key>
	<string>On the next screen, you will be prompted to grant access to read and write some of your general and health information, such as height, weight, and steps taken so you don&apos;t have to enter it again.</string>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Login Step Title</key>
	<string>Almost done!</string>
	<key>Login Step Text</key>
	<string>We need to confirm your email address and send you a copy of the consent you just signed.</string>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from the study will reset the app to the state it was in prior to you originally joining the study.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for your contribution to this study. We are sorry that you could not continue.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>BeatHF Consent Form</string>
	<key>Consent Form</key>
	<dict>
		<key>Overview</key>
		<string>Welcome to BeatHF. A better way to reduce hospital readmissions for heart failure in non-hospitalized patients with heart failure to improve outcomes, improve quality of life, and reduce cost  </string>
		<key>Data Gathering</key>
		<string>Participants must be patients with advanced congestive heart failure. The survey will help prevent the re-admission
of such patients. The survey will take 10-15 minutes.</string>
		<key>Privacy</key>
		<string>All information taken from the survey will be used to mitigate any risk of heart failure.
• Your responses will be used to recommend actions to be taken by you and will not be shared with anyone other
than you.
• Your information will not be shared with anyone outside the study staff.
• Data collection and survey responses using the internet will encounter the same risks that a person would
encounter in their daily use of the internet, such as information being seen unintentionally by others.
• Your name or any personal identifying information will not be shared in articles or talks.</string>
		<key>Data Use</key>
		<string>The data collected in the survey will be used solely to identify any symptoms that might indicate a heart failure and
to treat these symptoms with oral medications.</string>
		<key>Time Commitment</key>
		<string>This survey consists of 10 questions and will not take more than 10 minutes of your time.</string>
		<key>Study Survey</key>
		<string>This survey is to study the different health indicators to identify any abnormalities and to prescribe oral medications
to overcome these abnormalities and hence prevent re-admission</string>
		<key>Study Tasks</key>
		<string>The obtained survey answers are checked against set thresholds to identify if you might have a heart failure and require
re-admission. At the end of the survey, a feedback is provided based on the performance of the check mentioned above.
The feedback may be to call 911, contact your doctor today or to contact your doctor right away.</string>
		<key>Withdrawing</key>
		<string>If at any time you decide to withdraw from the survey, you can do so by closing your web browser.</string>
	</dict>
</dict>
</plist>
