<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924636506125-7tml514cdfbv27d0678e59k03gve0tb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924636506125-7tml514cdfbv27d0678e59k03gve0tb9</string>
	<key>API_KEY</key>
	<string>AIzaSyB8GVVidm2gjMfrb-FhMTqKI6k3LtnI0M8</string>
	<key>GCM_SENDER_ID</key>
	<string>924636506125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildathon.beatHF</string>
	<key>PROJECT_ID</key>
	<string>beathf-81ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>beathf-81ea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924636506125:ios:0b8c700edacf4c0db5cd44</string>
	<key>DATABASE_URL</key>
	<string>https://beathf-81ea0.firebaseio.com</string>
</dict>
</plist>